name: Build Windows

on:
  workflow_call:
    secrets:
      SIC_PAT:
        required: true
      VITE_SENTRY_DSN:
        required: true

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: install dependencies
        run: npm install

      - name: download built deps
        uses: actions/download-artifact@v6
        with:
          name: built-deps
          path: built-deps/

      - name: install deps into src
        shell: bash
        run: |
          cp -r built-deps/* src/

      - name: build electron
        run: npm run make
