name: Build Dependencies

on:
  workflow_call:
    secrets:
      SIC_PAT:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: clone core
        uses: actions/checkout@v6
        with:
          repository: Simple-Irc-Client/core
          token: ${{ secrets.SIC_PAT }}
          path: core

      - name: clone network
        uses: actions/checkout@v6
        with:
          repository: Simple-Irc-Client/network
          token: ${{ secrets.SIC_PAT }}
          path: network

      - name: build core
        run: |
          cd core
          rm -rf package-lock.json node_modules
          npm install
          npm run build
          cd ..

      - name: build network
        run: |
          cd network
          rm -rf package-lock.json node_modules
          npm install
          npm run build
          cd ..

      - name: prepare artifact
        run: |
          mkdir -p built-deps
          cp -r core/dist/* built-deps/
          cp network/irc-network.js built-deps/

      - name: upload built deps
        uses: actions/upload-artifact@v6
        with:
          name: built-deps
          path: built-deps/
          if-no-files-found: error
