name: Build Linux

on:
  workflow_call:
    secrets:
      SIC_PAT:
        required: true
      VITE_SENTRY_DSN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: install dependencies
        run: npm install

      - name: clone core
        uses: actions/checkout@v6
        with:
          repository: Simple-Irc-Client/core
          token: ${{ secrets.SIC_PAT }}
          path: core

      - name: clone network
        uses: actions/checkout@v6
        with:
          repository: Simple-Irc-Client/network
          token: ${{ secrets.SIC_PAT }}
          path: network

      - name: build core
        run: |
          cd core
          rm -rf package-lock.json node_modules
          npm install
          npm run build
          cp -r dist/* ../src
          cd ..

      - name: build network
        run: |
          cd network
          rm -rf package-lock.json node_modules
          npm install
          npm run build
          mv irc-network.js ../src
          cd ..

      - name: install Linux packaging dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak flatpak-builder elfutils rpm
          sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          sudo flatpak install -y flathub org.freedesktop.Platform//24.08 org.freedesktop.Sdk//24.08 org.electronjs.Electron2.BaseApp//24.08

      - name: install AppImage dependencies
        run: |
          sudo apt-get install -y imagemagick file desktop-file-utils

      - name: build electron
        env:
          DEBUG: electron-installer-flatpak*
        run: npm run make

      - name: Get version
        id: version
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Download pkg2appimage
        run: git clone https://github.com/AppImageCommunity/pkg2appimage.git

      - name: Prepare AppImage config
        run: |
          DEB_PATH=$(realpath out/make/deb/x64/*.deb)
          sed -i -e "s|REPLACE_DEB_PATH|$DEB_PATH|g" resources/packaging/linux/AppImage/simple-irc-client.yml

      - name: Create AppImage
        run: |
          cd pkg2appimage
          ARCH=x86_64 ./pkg2appimage ../resources/packaging/linux/AppImage/simple-irc-client.yml
          mkdir -p /tmp/appimage
          mv out/*.AppImage /tmp/appimage/simple-irc-client_${{ steps.version.outputs.version }}_x86_64.AppImage

      - name: Upload AppImage artifact
        uses: actions/upload-artifact@v6
        with:
          name: appimage
          path: /tmp/appimage/
          if-no-files-found: error
