name: Release macOS

on:
  workflow_call:
    secrets:
      SIC_PAT:
        required: true
      VITE_SENTRY_DSN:
        required: true
      APPLE_ID:
        required: false
      APPLE_PASSWORD:
        required: false
      APPLE_TEAM_ID:
        required: false
      CERTIFICATE_P12:
        required: false
      CERTIFICATE_PASSWORD:
        required: false
    inputs:
      publish:
        default: false
        required: false
        type: boolean

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: install dependencies
        run: npm install

      - name: clone core
        uses: actions/checkout@v6
        with:
          repository: Simple-Irc-Client/core
          token: ${{ secrets.SIC_PAT }}
          path: core

      - name: clone network
        uses: actions/checkout@v6
        with:
          repository: Simple-Irc-Client/network
          token: ${{ secrets.SIC_PAT }}
          path: network

      - name: build core
        run: |
          cd core
          rm -rf package-lock.json node_modules
          npm install
          npm run build
          cp -r dist/* ../src
          cd ..

      - name: build network
        run: |
          cd network
          rm -rf package-lock.json node_modules
          npm install
          npm run build
          mv irc-network.js ../src
          cd ..

      - name: import certificate
        env:
          CERTIFICATE_P12: ${{ secrets.CERTIFICATE_P12 }}
          CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
        run: |
          if [ -z "$CERTIFICATE_P12" ]; then
            echo "No certificate provided, skipping code signing setup"
            exit 0
          fi
          echo $CERTIFICATE_P12 | base64 --decode > certificate.p12
          security create-keychain -p "" build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "" build.keychain
          security import certificate.p12 -k build.keychain -P "$CERTIFICATE_PASSWORD" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple: -s -k "" build.keychain
          rm certificate.p12

      - name: build electron
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: npm run make

      - name: publish
        if: ${{ inputs.publish }}
        env:
          GITHUB_TOKEN: ${{ secrets.SIC_PAT }}
        run: npm run publish
