name: Release
on:
  release:
    types: [created]

jobs:
  build-deps:
    uses: ./.github/workflows/build-deps.yml
    secrets:
      SIC_PAT: ${{ secrets.SIC_PAT }}

  release-linux:
    needs: build-deps
    uses: ./.github/workflows/release-linux.yml
    with:
      publish: true
    secrets:
      SIC_PAT: ${{ secrets.SIC_PAT }}
      VITE_SENTRY_DSN: ${{ secrets.VITE_SENTRY_DSN }}

  release-linux-appimage:
    needs: release-linux
    uses: ./.github/workflows/build-linux-appimage.yml
    with:
      publish: true
    secrets:
      SIC_PAT: ${{ secrets.SIC_PAT }}

  release-windows:
    needs: build-deps
    uses: ./.github/workflows/release-windows.yml
    with:
      publish: true
    secrets:
      SIC_PAT: ${{ secrets.SIC_PAT }}
      VITE_SENTRY_DSN: ${{ secrets.VITE_SENTRY_DSN }}
      WINDOWS_CERTIFICATE_P12: ${{ secrets.WINDOWS_CERTIFICATE_P12 }}
      WINDOWS_CERTIFICATE_PASSWORD: ${{ secrets.WINDOWS_CERTIFICATE_PASSWORD }}

  release-macos:
    needs: build-deps
    uses: ./.github/workflows/release-macos.yml
    with:
      publish: true
    secrets:
      SIC_PAT: ${{ secrets.SIC_PAT }}
      VITE_SENTRY_DSN: ${{ secrets.VITE_SENTRY_DSN }}
      APPLE_API_KEY_P8: ${{ secrets.APPLE_API_KEY_P8 }}
      APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
      APPLE_API_ISSUER_ID: ${{ secrets.APPLE_API_ISSUER_ID }}
      CERTIFICATE_P12: ${{ secrets.CERTIFICATE_P12 }}
      CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
